.uaa-date-field {
    position: relative;
}

.uaa-date-field.with-error {
    margin-bottom: 0;
    position: relative;
}

.uaa-date-field input {
    display: block;
    box-sizing: border-box;
    font-size: 16px;
    font-family: Roboto, sans-serif;
    width: 100%;
    height: 56px;
    border: none;
    padding: 15px 14px 0 8px;
    border-radius: 5px;
    background-color: rgba(0, 0, 10, 0.05);
}

.uaa-date-field input:focus,
.uaa-date-field input:hover {
    border-bottom: 2px solid #00796b;
    padding-top: 17px;
}

.uaa-date-field input:focus {
    outline: none;
}

.uaa-date-field label {
    position: absolute;
    top: 8px;
    left: 14px;
    font-size: 12px;
}
.uaa-date-input-error {
    color: #e53935;
    font-size: 12px;
    display: block;
    /* Will be rendered in the margin of the date-field
       and not increase the date-field's height */
    height: 0;
}
