body {
    margin: 0;
    padding: 0;
    overflow-y: scroll;
}

.uaa-container {
    display: flex;
    min-height: calc(100vh - 48px);
    background-color: rgba(0, 0, 10, 0.05);
    font-family: 'Roboto', sans-serif;
}

.uaa-content {
    flex: 1;
}

.uua-data-container {
    margin: 16px;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.14), 0 2px 2px 0 rgba(0, 0, 0, 0.12),
        0 1px 3px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    /* Extra px helps Chart.js scale itself correctly */
    max-width: calc(100% - 33px);
}

.uua-data-container--loading {
    min-height: calc(50vh - 48px);
}
