.uaa-filter-sidebar {
    flex: 0 0 280px;
    background-color: #ffffff;
    padding: 1rem;
    border-right: 1px solid rgba(0, 0, 0, 0.12);
}
.uaa-filter-sidebar .uaa-app-header {
    font-size: 2rem;
    margin-bottom: 2rem;
}
