.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}

/* During development, hide the App Adapter's header bar to use this app's */
:global div.app-shell-adapter > header:not(.global-shell-header) {
    display: none;
}
