.uua-chart-container {
    padding: 16px 8px;
    margin-bottom: 0;
}

.uaa-chart-wrap {
    position: relative;
    /* 
       24 x 2 (padding around containers) = 48
       20 + 8 (title)                     = 28
       14 + 4 (sub title)                 = 18 +
       -----------------------------------------
                                    total = 94
    */
    height: calc(50vh - 94px);
    max-height: 800px;
}

.uaa-chart-title {
    font-size: 20px;
    margin: 0;
    text-align: center;
    margin-bottom: 8px;
}

.uaa-chart-subtitle {
    font-size: 14px;
    margin: 0;
    text-align: center;
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 4px;
}
